<table style="
	border: 0px;
	border-bottom: 1px solid #6c5151;
	width: 100%">
	<tr>
		<td>
			<img src="~/Images/pharmacy.png" alt="site logo" height="100" style="margin-right: 10px" />
		</td>
		<td style="width: 100%">
			<h2>Rockcliffe-Smythe Trepanation Clinic</h2>
			<h4>@ViewBag.Title</h4>
		</td>
	</tr>
</table>
