<span class="navbar-text" style="margin-right: 10px;">
    Logged in as @Session["AdminName"].ToString()
</span>
<form class="form-inline my-2 my-lg-0">
    <a href="@Url.Action("Logoff", "Login")" class="btn btn-outline-success my-2 my-sm-0" role="button" aria-pressed="true">Log out</a>
</form>
