
@{
    ViewBag.Title = "Home";
}
<div style="margin:auto; width:700px;">
    <h2 style="text-align: center;">Rockcliffe-Smythe Trepanation Clinic</h2>
    <h6 style="text-align: center;">Open doors. Open minds.</h6>
    <img style="display: block; margin: auto; width: 700px;" src="@Url.Content("~/Images/rockcliffe.jpg")" alt="Harold" />
</div>